on:
  push:
    branches: [master]
  pull_request:
  release:
    types: [published]

name: docs

jobs:
  docs:
    runs-on: ubuntu-latest
    name: build
    container:
      image: ghcr.io/gtk-rs/gtk-rs/gtk:latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: rustfmt
      - working-directory: gir
        run: cargo build --release
      - run: cargo install rustdoc-stripper
      - run: python3 ./generator.py --embed-docs --yes ./
      - run: git clone https://gitlab.gnome.org/World/Rust/gir-rustdoc/ # checkout action doesn't support random urls
      - run: echo "RUSTDOCFLAGS=$(eval python3 ./gir-rustdoc/gir-rustdoc.py --pages-url 'https://gtk-rs.org/gtk3-rs/' --default-branch 'master' --branch 'master' pre-docs | xargs)" >> ${GITHUB_ENV}
      - uses: actions-rs/cargo@v1
        with:
          command: doc
          args: -p atk -p atk-sys -p gdk -p gdk-sys -p gdkx11 -p gdkx11-sys -p gtk -p gtk3-macros -p gtk-sys --features dox --no-deps
      - run: echo "DEST=$(if [ "$GITHUB_EVENT_NAME" == "release" ]; then echo 'stable/${{ github.event.release.tag_name }}'; else echo 'git'; fi)" >> ${GITHUB_ENV}

      - name: Grab gtk-rs LOGO
        if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/master') || github.event_name == 'release' }}
        run: |
          sudo dnf install ImageMagick wget -y
          wget https://raw.githubusercontent.com/gtk-rs/gtk-rs.github.io/master/logo.svg
          convert -density 1200 -resize 256x256 -background none logo.svg ./target/doc/rust-logo.png
          for size in 16 32 ; do convert -density 1200 -resize "${size}x${size}" -background none logo.svg "./target/doc/favicon-${size}x${size}.png" ; done
          cp logo.svg ./target/doc/favicon.svg

      - name: deploy
        if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/master') || github.event_name == 'release' }}
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc/
          keep_files: false
          destination_dir: ${{ env.DEST }}/docs

      - run: python3 ./gir-rustdoc/gir-rustdoc.py --project-title 'GTK 3 Rust bindings' html-index
      - name: deploy index page
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/master') || github.event_name == 'release' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public/
          keep_files: true
          destination_dir: ./
